body, #wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

.my-div-style {
    margin-top:6rem;
}

.fs-1 {
    font-size:2.3rem;
}

.fs-2 {
    font-size:2.3rem;
}

.fs-3 {
    font-size:2rem;
}

.manual-tab {
    margin-left:10vw;
}

.manual-sp {
    margin-left:18vw;
}