@media screen and (max-width:400px){
    header.masthead {
    padding-top: calc(7rem + 72px);
    padding-bottom: 20rem;
    background-image: url(avengers_index_responsive01.jpg);
    }

    header.masthead .masthead-content .masthead-heading{
        padding-bottom: 4rem !important;
        margin-left: 2vw;
    }

    header.masthead .masthead-content{
        padding-bottom: 4vw !important;
    }

    header .masthead-subheading{
        padding-bottom: 4vw;
        margin-left:3vw;
    }

    .mb-0 {
        font-size: 15vw !important;
        float: left;
        padding-bottom: 2vw;
    }

    .masthead-subheading.mb-0 {
        font-size: 10vw !important;
        float: left;
        width: 80vw !important;
        padding-bottom: 2vw;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .btn {
        margin-top: 1vw;
    }

    .img-fluid {
        margin-top: 10vw;
        margin-left: 0 !important;
        margin-bottom: 10vw;
    }

    .img-size30 {
        width:80vw !important;
        height:80vw !important;
    }

    .display-4 {
        font-size: 14vw;
        margin-bottom: 5vw;
    }

    .diary-photo {
        float: none !important;
    }

    .diary-sound {
        float: none !important;
    }

    .diary-video {
        float: none !important;
    }

    .input_form {
        margin-left: 5vw;
        margin-bottom: 2vw;
    }

    .adsence-left {
        display: none;
    }

    .adsence-right {
        display: none !important;
    }

    .accuse_photo {
        float: none !important;
    }

    .accuse_sound {
        float: none !important;
    }

    .accuse_video {
        float: none !important;
    }

    .accuse_video_size {
        width: 100vw;
        height: 60vw;
    }

    .accuse_sound_size {
        width: 90vw;
    }

    .accuse_photo_size {
        width: 100vw;
        height: 60vw;
    }

    .input_form {
        margin-left: 5vw;
    }

    .post-title {
        font-size: 5vw !important;
    }

    .float-left.mini-profile {
        display: none !important;
    }

    .fs-1 {
        font-size:7vw;
    }

    .fs-2 {
        font-size:7vw;
    }

    .manual-tab {
        margin-left:20vw;
    }

    .manual-sp {
        margin-left:25vw;
    }
}