{% extends 'base.html' %}
{% load static %}

{% block title %}みんなの投稿 | Vengeancers{% endblock %}

{% block active_accuse_list %}active{% endblock %}

{% block header %}
<header class="forest">
    <div class="container">
        <div class="my-div-style">
            <h1 class="display-3 text-white border-black float-left">Everyone's Post</h1>
        </div>
    </div>
</header>
{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="mt-2 w-100">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h1 class="fs-1 fs-5" style="margin-top:1rem;">みんなの被害投稿一覧</h1>
                <hr>
                <p>検索フォームにキーワード(パワハラ、職場いじめ、会社名、加害者名、学校名、投稿したユーザー名等)を入力し検索することで該当する投稿を確認できます。また、プルダウンメニューより投稿されたものを並べ替えることができます。</p>
                <form method="GET" action="{% url 'avengers:accuse_list' %}" style="text-align:center;" class="tab">
                    <input class="mb-1" type="text" name="keyword">
                    <button type="submit" class="btn btn-info mb-1" style="border-radius:0.3rem;padding-top:0.3rem;padding-bottom:0.2rem;">絞り込み</button>
                </form>
                <form style="text-align:center;">
                    <select onChange="location.href=value;" class="form-deco">
                        <option value="#">並べ替え</option>
                        <option value="{% url 'avengers:accuse_video' %}">動画のみで絞り込む</option>
                        <option value="{% url 'avengers:accuse_sound' %}">音声のみで絞り込む</option>
                        <option value="{% url 'avengers:accuse_photo' %}">画像のみで絞り込む</option>
                        <option value="{% url 'avengers:accuse_good_descending' %}">いいね降順</option>
                        <option value="{% url 'avengers:accuse_good_ascending' %}">いいね昇順</option>
                        <option value="{% url 'avengers:accuse_old' %}">投稿日時が古い順</option>
                        <option value="{% url 'avengers:accuse_new' %}">投稿日時が新しい順</option>
                    </select>
                </form>
                <hr>
                {% for items in object_list2 %}
                    <div class="post-preview">
                        <a href="{% url 'avengers:get_log' items.pk %}">
                            {% if items.photo1 %}
                                <img class="accuse_photo" src="{{ items.photo1.url }}" width="240" height="160" style="float:right;">
                            {% elif items.media1 %}
                                <img class="accuse_sound" src="{% static 'img/sound.jpg' %}" width="240" height="160" style="float:right;">
                            {% elif items.media2 %}
                                <video class="accuse_video" src="{{ items.media2.url }}" width="240" height="160" style="float:right;" controls muted autoplay playinline></video>
                            {% endif %}
                          <p class="post-meta text-black">
                            投稿者：{{ items.user }}
                          </p>
                          <h4 class="post-subtitle text-black">
                            被害内容：{{ items.title }}
                          </h4>
                          <h4 class="post-subtitle text-black">
                            {{ items.content|truncatechars:20 }}
                          </h4>
                          <p class="post-meta text-black" style="margin:0;">
                            会社名・学校名・加害者名：{{ items.group }}
                          </p>
                        </a>
                        <p class="post-meta" style="margin-bottom:0.5rem;">{{ items.created_at }}</p>
                        {% include 'accuse_list_like.html' %}
                        <small class="text-info">
                            いいね!=<span id="like_{{items.pk}}">{{ items.good_count }}</span><br>
                            コメント={{items.number_of_comments}}<br>
                            表示回数={{items.views}}
                        </small>
                    </div>
                    <hr>
                {% empty %}
                    <p>投稿がありません。</p>
                {% endfor %}

                <!-- ページネーション処理 -->
                {% if is_paginated %}
                    <ul class="pagination">
                        <!-- 前ページへのリンク -->
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}

                        <!-- ページ数表示 -->
                        {% for page_num in page_obj.paginator.page_range %}
                            {% if page_obj.number == page_num %}
                                <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                            {% endif %}
                        {% endfor %}

                        <!-- 次ページへのリンク -->
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}