{% load static %}

<html lang="ja">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/jpg" href="{% static 'icon/vengeancers_favicon.jpg' %}">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/origin.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/origin_for_sp2_1.css' %}" media="(min-width:400px) and (max-width:600px)">
    <link rel="stylesheet" type="text/css" href="{% static 'css/origin_for_sp1_1.css' %}" media="screen and (max-width:400px)">

    <!-- My style -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle6.css' %}">

    <!-- smartphone -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive_smartphone1_2.css' %}" media="screen and (max-width:400px)">

    <!-- smartphone2 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive_smartphone2_2.css' %}" media="(min-width:400px) and (max-width:600px)">

    <!-- tablet -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive_tablet1_1.css' %}" media="(min-width:600px) and (max-width:1000px)">

    <!-- script -->
    <script src="{% static 'js/function.js' %}"></script>

    {% block head %}{% endblock %}
  </head>

  <body>
	<div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
          <div class="container">
            <a class="navbar-brand" href="{% url 'avengers:index' %}">Vengeancers</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item {% block active_inquiry %}{% endblock %}">
                  <a class="nav-link" href="{% url 'avengers:inquiry' %}">Contact</a>
                </li>
                <li class="nav-item {% block mental_check %}{% endblock %}">
                  <a class="nav-link" href="{% url 'avengers:mental_check' %}">Mental Check</a>
                </li>
                <li class="nav-item {% block search_lawyer %}{% endblock %}">
                  <a class="nav-link" href="{% url 'avengers:search_lawyer' %}">Search Expert</a>
                </li>
                <!-- 以下はマニュアルが必要になったら使う
                <li class="nav-item {% block user_manual %}{% endblock %}">
                    <a class="nav-link" href="{% url 'avengers:user_manual' %}">User Manual</a>
                </li>
                -->
                {% if user.is_authenticated %}
                  <li class="nav-item {% block active_diary_list %}{% endblock %}">
                      <a class="nav-link" href="{% url 'avengers:diary_list' %}">My Page</a>
                  </li>
                  <li class="nav-item {% block active_accuse_list %}{% endblock %}">
                      <a class="nav-link" href="{% url 'avengers:accuse_list' %}">Everyone's Post</a>
                  </li>
                  <li class="nav-item {% block active_experiences_list %}{% endblock %}">
                      <a class="nav-link" href="{% url 'avengers:present_list' %}">Advice and Experiences</a>
                  </li>
                  <li class="nav-item {% block active_message_list %}{% endblock %}">
                      <a class="nav-link" href="{% url 'avengers:community_room' %}">Community Room</a>
                  </li>
                  <li class="nav-item {% block user_profile %}{% endblock %}">
                      <a class="nav-link" href="{% url 'avengers:profile' %}">User Profile</a>
                  </li>
                  <li class="nav-item {% block account_delete %}{% endblock %}">
                      <a class="nav-link" href="{% url 'avengers:delete' user.username %}">Delete Account</a>
                  </li>
                {% endif %}
              </ul>
              <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                  </li>
                {% else %}
                  <li class="nav-item {% block active_signup %}{% endblock %}">
                      <a class="nav-link" href="{% url 'register-users' %}">Sign Up</a>
                  </li>
                  <li class="nav-item {% block active_login %}{% endblock %}">
                      <a class="nav-link" href="{% url 'login' %}">Log In</a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>

        {% block header %}{% endblock %}

        {% if messages %}
          <div class="container">
              <div class="row">
                  <div class="mt-1 w-100">
                      <ul class="messages" style="list-style: none;">
                          {% for message in messages %}
                          <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                              {{ message }}
                          </li>
                          {% endfor %}
                      </ul>
                  </div>
              </div>
          </div>
        {% endif %}

        {% block contents%}{% endblock %}

        <!-- Footer -->
        <footer class="py-5 bg-black">
          <div class="container">
            <p class="m-0 text-center text-white small">Copyright &copy; Vengeancers 2021</p>
          </div>
          <!-- /.container -->
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

        <!-- JavaScript -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  	</div>
  </body>

</html>