{% extends 'base.html' %}
{% load static %}

{% block title %}コメントを投稿 | Vengeancers{% endblock %}

{% block header %}
<header class="forest">
    <div class="container">
        <div class="my-div-style">
            <h1 class="display-3 text-white border-black float-left">Comment Create</h1>
        </div>
    </div>
</header>
{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="mt-3 w-100">
            <h1>コメント又は返信を投稿する</h1>
            <hr>
            <h3 class="post-title" style="color:red;">注意：投稿するコメントは良識的な内容を心がけましょう。相手を誹謗中傷するようなコメントや悪口等悪質なコメントは管理者が見つけ次第削除します。また、アカウントも消去します。</h3>
            <form action="" method="POST">
                {{ form.as_p }}
                {% csrf_token %}
                <button class="btn btn-primary" type="submit">送信</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}