{% extends 'base.html' %}

{% load static %}

{% block title %}Vengeancers退会完了 | Vengeancers{% endblock %}

{% block header %}
<header class="forest">
    <div class="container">
        <div class="my-div-style">
            <h1 class="display-3 text-white border-black float-left">Delete Account</h1>
        </div>
    </div>
</header>
{% endblock %}

{% block contents %}
<section class="container" style="text-align:center;">
  <div class="row">
    <div class="mt-2 w-100">
      <h1 class="title">
        Vengeancers退会処理完了通知
      </h1>
    </div>
  </div>
</section>

<div style="text-align:center;">
  <p>お使いのアカウントが正常に消去されました。サービスをご利用いただきありがとうございました。</p>

  <a href="{% url 'avengers:index' %}" class="btn btn-success">確認</a>
</div>
{% endblock %}