{% extends 'base.html' %}

{% load static %}

{% block title %}Vengeancersを退会する | Vengeancers{% endblock %}

{% block account_delete %}active{% endblock %}

{% block header %}
<header class="forest">
    <div class="container">
        <div class="my-div-style">
            <h1 class="display-3 text-white border-black float-left">Delete Account</h1>
        </div>
    </div>
</header>
{% endblock %}

{% block contents %}
<section class="container" style="text-align:center;">
  <div class="row">
    <div class="mt-3 w-100">
      <h1 class="title">
        退会
      </h1>
    </div>
  </div>
</section>

<form role="form" method="post" style="text-align:center;">
  {% csrf_token %}
  <p>あなたのアカウント「{{ user.username }}」を、本当に削除してもよろしいですか？</p>

  <button type="submit" class="btn btn-danger">削除</button>
  <a href="javascript:void(0);" onclick="window.history.back();" class="btn btn-success">キャンセル</a>
</form>
{% endblock %}