{% extends 'base.html' %}
{% load static %}

{% block title %}投稿詳細 | Avengers{% endblock %}

{% block active_diary_list %}active{% endblock %}


{% block contents %}
<div class="adsence_top" style="margin-top:5rem;text-align:center;">
</div>
<div class="container">
    <div class="mt-3">

        {% if object.photo1 %}

        <div class="row">
            <div class="col-3">
                <strong>写真</strong>
            </div>
            <div class="col-3">
                <img src="{{ object.photo1.url }}" class="accuse_photo_size" width="800" height="500"/>
            </div>
        </div>

        <hr>

        {% endif %}

        {% if object.media1 %}

        <div class="row">
            <div class="col-3">
                <strong>音声</strong>
            </div>
            <div class="col-3">
                <figure>
                    <figcaption>証拠音声</figcaption>
                    <audio controls
                           src="{{ object.media1.url }}" class="accuse_sound_size">
                        申し訳ありません、お使いのブラウザは音声に対応しておりません。
                    </audio>
                </figure>
            </div>
        </div>

        <hr>

        {% endif %}

        {% if object.media2 %}

        <div class="row">
            <div class="col-3">
                <strong>動画</strong>
            </div>
            <div class="col-3">
                <video controls class="accuse_video_size" width="800" height="500">
                    <source src="{{ object.media2.url }}">
                    申し訳ありません、お使いのブラウザはビデオに対応しておりません。
                </video>
            </div>
        </div>

        <hr>

        {% endif %}

        <div class="row">
            <div class="col-3">
                <strong>タイトル</strong>
            </div>
            <div class="col-9">
                {{ object.title }}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3">
                <strong>所属団体名・加害者名</strong>
            </div>
            <div class="col-9">
                {{ object.group|linebreaksbr }}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3">
                <strong>被害内容詳細</strong>
            </div>
            <div class="col-9">
                {{ object.content|linebreaksbr }}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3">
                <strong>作成日時</strong>
            </div>
            <div class="col-9">
                {{ object.created_at }}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3">
                <strong>更新日時</strong>
            </div>
            <div class="col-9">
                {{ object.updated_at }}
            </div>
        </div>

        <a class="btn btn-success mt-5 mb-3" href="{% url 'avengers:diary_update' object.pk %}">編集</a>
        <a class="btn btn-danger mt-5 ml-2 mb-3" href="{% url 'avengers:diary_delete' object.pk %}">削除</a>
        <a href="javascript:void(0);" onclick="window.history.back();" class="btn btn-success mt-5 mb-3" style="margin-left:0.5rem;">戻る</a>
    </div>
</div>

<div class="adsence-bottom" style="text-align:center;">
</div>

<div class="container">
    <div>
        <p class="float-right">コメント件数:{{ comment_c }}件</p>
        <h2 class="title is-5">コメント一覧</h2>
        {% for comment in com_list %}
        <div class="row">
            <div class="col-12">
                <p>コメント：{{ comment.content }}</p>
                <p>コメント日時:{{ comment.created_at }}</p>
                <article>
                {%  if user_profile != None %}
                    <p>コメント投稿者：<a href="{% url 'avengers:user-posts' comment.user %}"><img class="rounded-circle"
                         style="width: 40px; height: 40px;"
                         src="{{ comment.user_profile.profile.image.url }}"></a>{{ comment.user }}</p>
                {%  else %}
                    <p>コメント投稿者：<a href="{% url 'avengers:user-posts' comment.user %}"><img class="rounded-circle"
                         style="width: 40px; height: 40px;"
                         src="{{ comment.user.profile.image.url }}"></a>{{ comment.user }}</p>
                {%  endif %}
                </article>
                <a href="{% url 'avengers:reply_create' comment.pk %}" class="btn btn-secondary">返信する</a>
                <a href="{% url 'avengers:good4' object.pk comment.pk %}" class="btn btn-primary">いいね！💛{{ comment.good_count }}</a>
                <a href="{% url 'avengers:report2' object.pk comment.pk %}" class="btn btn-danger">通報する</a>
                {% with reply_list=comment.comment_set.all %}
                    {% include 'reply.html' %}
                {% endwith %}
                <hr>
            </div>
        </div>
        {% empty %}
        <h5>まだコメントが投稿されていません。</h5>
        {% endfor %}
    </div>
</div>
{% endblock %}