{% extends 'base.html' %}
{% load static %}

{% block title %}投稿一覧 | Vengeancers{% endblock %}

{% block active_diary_list %}active{% endblock %}

{% block head %}
<style>
    .badge1 {
        position:relative;
    }

    .badge1[data-badge]:after {
        content:attr(data-badge);
        position:absolute;
        top:-10px;
        right:-10px;
        font-size:.7em;
        background:green;
        color:white;
        width:18px;height:18px;
        text-align:center;
        line-height:18px;
        border-radius:50%;
        box-shadow:0 0 1px #333;
    }
</style>
{% endblock %}

{% block header %}
<header class="forest">
    <div class="container">
        <div class="my-div-style">
            <h1 class="display-2 text-white border-black float-left">My Page</h1>
        </div>
    </div>
</header>
{% endblock %}

{% block contents %}
<div class="container">
    {%  if user_profile != None %}
    <div class="float-left mini-profile mt-2">
        <img
            class="rounded-circle"
            style="width: 150px; height: 150px; margin-left:2rem;"
            src="{{ user_profile.profile.image.url }}">
        <h4 style="text-align: center;"
            class="white-important">
            ユーザー名:{{ user_profile.username }}
        </h4>
        <ul style="list-style-type:none;">
            <li><a class="btn btn-success" href="{% url 'avengers:profile' %}" style="padding:0.3rem;border-radius:0.3rem;">プロフィール詳細</a></li>
            <li><a class="btn btn-sm btn-outline-primary" href="{% url 'avengers:user-follows' user.username %}" style="padding:0.3rem;border-radius:0.3rem;margin-top:0.3rem;">フォローリスト</a></li>
            <li><a class="btn btn-sm btn-outline-primary" href="{% url 'avengers:user-followers' user.username %}" style="padding:0.3rem;border-radius:0.3rem;margin-top:0.3rem;">フォロワーリスト</a></li>
            {% include 'dm_count.html' %}
            {% include 'notice_count.html' %}
            <li><a class="btn btn-secondary" href="{% url 'avengers:terms_of_service' %}" style="padding:0.3rem;border-radius:0.3rem;margin-top:0.3rem;">利用規約確認</a></li>
            <li><a class="btn btn-secondary" href="{% url 'avengers:privacy_policy' %}" style="padding:0.3rem;border-radius:0.3rem;margin-top:0.3rem;">プライバシーポリシー確認</a></li>
        </ul>
    </div>
    {% else %}
    <div class="float-left mini-profile mt-2">
        <img
            class="rounded-circle"
            style="width: 150px; height: 150px; margin-left:2rem;"
            src="{{ user.profile.image.url }}">
        <h4 style="text-align: center;"
            class="white-important">
            ユーザー名:{{ user.username }}
        </h4>
        <ul style="list-style-type:none;">
            <li><a class="btn btn-success" href="{% url 'profile' %}" style="padding:0.3rem;border-radius:0.3rem;">プロフィール編集</a></li>
            <li><a class="btn btn-sm btn-outline-primary" href="{% url 'avengers:user-follows' user.username %}" style="padding:0.3rem;border-radius:0.3rem;margin-top:0.3rem;">フォローリスト</a></li>
            <li><a class="btn btn-sm btn-outline-primary" href="{% url 'avengers:user-followers' user.username %}" style="padding:0.3rem;border-radius:0.3rem;margin-top:0.3rem;">フォロワーリスト</a></li>
            {% include 'dm_count.html' %}
            {% include 'notice_count.html' %}
            <li><a class="btn btn-secondary" href="{% url 'avengers:terms_of_service' %}" style="padding:0.3rem;border-radius:0.3rem;margin-top:0.3rem;">利用規約確認</a></li>
            <li><a class="btn btn-secondary" href="{% url 'avengers:privacy_policy' %}" style="padding:0.3rem;border-radius:0.3rem;margin-top:0.3rem;">プライバシーポリシー確認</a></li>
        </ul>
    </div>
    {% endif %}
    <div class="row">
        <div class="w-100">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h1 class="fs-1 mt-2">あなたの被害投稿一覧</h1>
                <hr>
                <div class="clearfix text-right">
                    <a class="btn btn-warning mb-1 text-white" href="{% url 'avengers:favorite' %}">★お気に入りリスト</a>
                    <a class="btn btn-info mb-1 mr-1" href="{% url 'avengers:diary_create' %}">新規作成</a>
                </div>
                <div class="clearfix text-right">
                    <a class="btn btn-info mb-1" href="{% url 'avengers:log_list' %}">表示履歴</a>
                    <a class="btn btn-success mb-1 mr-1 text-white" href="{% url 'avengers:experiences_list' %}">切り替え(体験談)</a>
                </div>
                <hr>
                {% for items in object_list %}
                    <div class="post-preview">
                        <a href="{% url 'avengers:add_count' items.pk %}">
                            {% if items.photo1 %}
                                <img class="diary-photo" src="{{ items.photo1.url }}" width="250" height="130" style="float:right;">
                            {% elif items.media1 %}
                                <img class="diary-sound" src="{% static 'img/sound.jpg' %}" width="250" height="130" style="float:right;">
                            {% elif items.media2 %}
                                <video controls width="250" style="float:right;" class="diary-video">
                                    <source src="{{ items.media2.url }}">
                                    申し訳ありません、お使いのブラウザはビデオに対応しておりません。
                                </video>
                            {% endif %}
                          <h4 class="post-subtitle text-black mt-2">
                            {{ items.title }}
                          </h4>
                          <h4 class="post-subtitle text-black">
                            {{ items.content|truncatechars:20 }}
                            {% if not items.content %}
                               詳細未記入
                            {% endif %}
                          </h4>
                        </a>
                        <p class="post-meta" style="margin:0;">{{ items.created_at }}</p>
                        <span class="text-info">
                            いいね!={{items.good_count}}　　コメント={{items.number_of_comments}}<br>
                            表示回数={{items.views}}
                        </span>
                    </div>
                    <hr>
                {% empty %}
                    <p>投稿がありません。</p>
                {% endfor %}

                <!-- ページネーション処理 -->
                {% if is_paginated %}
                    <ul class="pagination">
                        <!-- 前ページへのリンク -->
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}

                        <!-- ページ数表示 -->
                        {% for page_num in page_obj.paginator.page_range %}
                            {% if page_obj.number == page_num %}
                                <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                            {% endif %}
                        {% endfor %}

                        <!-- 次ページへのリンク -->
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}