{% extends 'base.html' %}
{% load static %}

{% block title %}投稿一覧 | Vengeancers{% endblock %}

{% block active_message_list %}active{% endblock %}

{% block header %}
<header class="forest">
    <div class="container">
        <div class="my-div-style">
            <h1 class="display-2 text-white border-black float-left">Direct Message</h1>
        </div>
    </div>
</header>
{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="w-100 mt-2">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h1 class="fs-3">ダイレクトメッセージ詳細</h1>
                <hr>
                <h4>ダイレクトメッセージが送られたユーザー:<img src="{{ object.user.profile.image.url }}" style="width:35px;height:35px;" class="rounded-circle">{{ object.user.username }}</h4>
                <a href="javascript:void(0);" onclick="window.history.back();" class="btn btn-success" style="padding:0.4rem;border-radius:0.3rem;">戻る</a>
                <a href="{% url 'avengers:dm_delete' object.pk %}" class="btn btn-danger">メッセージを削除する</a>
                <hr>
                <p class="post-meta mt-2 mb-2">メッセージ内容:{{ object.content }}</p>
                <hr>
                <p class="post-meta mt-2 mb-2">メッセージ投稿日時:{{ object.dm_created_at }}</p>
                <hr>
            </div>
        </div>
    </div>
</div>
{% endblock %}