{% extends 'base.html' %}
{% load static %}

{% block title %}ログイン・ログアウト履歴 | Avengers{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <div class="col-lg-8 col-md-10 mx-auto">
                <a href="{% url 'avengers:profile' %}" class="btn btn-success float-right" style="padding-top:0.5rem;padding-bottom:0.5rem;border-radius:0.5rem;">戻る</a>
                <h3 style="margin-top:1rem;">ユーザーのログイン・ログアウト履歴</h3>
                <hr>
                {% if user.is_superuser %}
                <form method="GET" action="{% url 'avengers:log_in_out' %}">
                    <input class="input_form" type="text" name="keyword">
                    <button type="submit" class="btn btn-primary" style="border-radius:0.3rem;padding-top:0.5rem;padding-bottom:0.4rem;">絞り込み</button>
                </form>
                <a href="{% url 'avengers:all_log_in_out' %}" class="btn btn-secondary float-right">削除済み含め全て表示</a>
                {% for items in user_log_list %}
                <p class="post-subtitle">ユーザーID:{{ items.user_id }}　|　ユーザー名:{{ items.user }}</p>
                <p class="post-subtitle">e-mail:{{ items.user_email }}</p>
                <p class="post-subtitle">ログイン:{{ items.login_time }} | ログアウト:{{ items.logout_time }}</p>
                <hr>
                {% empty %}
                    <p>まだログがありません。</p>
                {% endfor %}
                {% elif user.is_staff %}
                <form method="GET" action="{% url 'avengers:log_in_out' %}">
                    <input class="input_form" type="text" name="keyword">
                    <button type="submit" class="btn btn-primary" style="border-radius:0.3rem;padding-top:0.5rem;padding-bottom:0.4rem;">絞り込み</button>
                </form>
                <a href="{% url 'avengers:all_log_in_out' %}" class="btn btn-secondary float-right">削除済み含め全て表示</a>
                {% for items in user_log_list %}
                <p class="post-subtitle">ユーザーID:{{ items.user_id }}　|　ユーザー名:{{ items.user }}</p>
                <p class="post-subtitle">e-mail:{{ items.user.email }}</p>
                <p class="post-subtitle">ログイン:{{ items.login_time }} | ログアウト:{{ items.logout_time }}</p>
                <hr>
                {% empty %}
                    <p>まだログがありません。</p>
                {% endfor %}
                {% else %}
                    <p>申し訳ありません。このサイトは管理者専用です。</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}