{% extends 'base.html' %}
{% load static %}

{% block title %}Post Create | Vengeancers{% endblock %}

{% block active_message_list %}active{% endblock %}

{% block header %}
<header class="forest">
    <div class="container">
        <div class="my-div-style">
            <h1 class="display-4 text-white border-black float-left">Community Room</h1>
        </div>
    </div>
</header>
{% endblock %}

{% block contents %}
<style>
    #id_content {
        width:70vw;
    }

    #id_tag {
        width:70vw;
    }
</style>
<div class="container">
    <div class="row">
        <div class="mt-2 w-100">
            <div class="col-12">
                <h3 class="white-important">
                    {{  tag_line }}
                </h3>
                <hr>
                <div class="text-center">
                    <a class="btn btn-info text-white" href="{% url 'avengers:tag3_create' %}">タグ追加はこちら</a>
                </div>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for field in form %}
                    <div class="field col-lg-6 col-md-6">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                        <span class="helptext">{{ field.help_text }}</span>
                        {% endif %}
                        {{ field.errors }}
                    </div>
                    {% endfor %}
                    <div class="form-group ml-1 p-1 text-center">
                        <button class="btn btn-outline-primary mb-1" type="submit">確定</button>
                        <a href="{% url 'avengers:community_room' %}" class="btn btn-success mr-1 mb-1">戻る</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}