<script>
    function api_like_{{reply.pk}}() {
        var api_url = "{% url 'avengers:good6' reply.pk %}";
        var btn = document.getElementById("like_{{reply.pk}}");
        var request = new XMLHttpRequest();
        request.onreadystatechange = function () {
            if (request.readyState === 4 && request.status === 200) {
                var received_data = JSON.parse(request.responseText);
                btn.innerText = received_data.like;
                splash(received_data.message,{
                    message_class: 'splashmsg default',
                    fadein_sec: 0.1,
                    wait_sec: 1.5,
                    fadeout_sec: 1.5,
                    opacity: 0.9,
                    trans_in: 'ease-in',
                    trans_out: 'ease-out',
                    outer_style: 'top: 0px;left: 0px;position: fixed;z-index: 1000;width: 100%;height: 100%;', //外側のスタイル
                    message_style: 'padding:0.5em;font-size:25px;color:white;background-color:#9aefa9; position: absolute;top: 50%; left: 50%;transform: translateY(-50%) translateX(-50%);-webkit-transform: translateY(-50%) translateX(-50%);', //メッセージエリアのスタイル
                })
            }
        }
        request.open("GET",api_url);
        request.send();
    }
</script>

<a onclick="api_like_{{reply.pk}}()" class="btn btn-primary text-white">いいね！💛<span id="like_{{reply.pk}}">{{ reply.good_count }}</span></a>