{% extends 'base.html' %}
{% load static %}

{% block title %}ユーザープロフィール詳細 | Avengers{% endblock %}

{% block user_profile %}active{% endblock %}


{% block contents %}
<div class="container">
    <div class="my-div-style w-100">
        <div class="row">
            <div class="col-3">
                <strong>ユーザー名</strong>
            </div>
            <div class="col-9">
                {{ object.p_owner }}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3">
                <strong>プロフィール写真</strong>
            </div>
            <div class="col-3">
                <img src="{{ object.p_image.url }}" width="300" height="300" class="rounded-circle">
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3">
                <strong>出身地</strong>
            </div>
            <div class="col-9">
                {{ object.p_place}}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3">
                <strong>趣味</strong>
            </div>
            <div class="col-9">
                {{ object.p_hobby}}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3">
                <strong>自己紹介文</strong>
            </div>
            <div class="col-9">
                {{ object.p_content }}
            </div>
        </div>

        <hr>

        <hr>

        <a class="btn btn-success mt-5 mb-3" href="{% url 'avengers:profile_list' %}" style="float:right;">戻る</a>
    </div>
</div>
{% endblock %}