{% load static %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="col-12">
            {% for reply in reply_list %}
            <hr>
            <div class="col-14" style="margin-left:5rem;">
                <p>返信：{{ reply.content }}</p>
                <article>
                {%  if user_profile != None %}
                    <p>投稿者：<img class="rounded-circle"
                         style="width: 40px; height: 40px;"
                         src="{{ reply.user_profile.profile.image.url }}">{{ reply.user }}</p>
                {%  else %}
                    <p>投稿者：<img class="rounded-circle"
                         style="width: 40px; height: 40px;"
                         src="{{ reply.user.profile.image.url }}">{{ reply.user }}</p>
                {%  endif %}
                {% if user.is_superuser %}
                    <p class="float-right">コメントid:{{ reply.pk }}</p>
                {% elif user.is_staff %}
                    <p class="float-right">コメントid:{{ reply.pk }}</p>
                {% endif %}
                </article>
                <a href="{% url 'avengers:good5' object.pk reply.pk %}" class="btn btn-primary" style="padding:0.1rem;">いいね！💛{{ reply.reply_good_count }}</a>
                <a href="{% url 'avengers:report2' object.pk reply.pk %}" class="btn btn-danger" style="padding:0.1rem;">通報する</a>
                {% if user.is_superuser %}
                    <hr>
                    <a href="{% url 'avengers:comment_delete' reply.pk %}" class="btn btn-danger">コメントを消去する</a>
                {% elif user.is_staff %}
                    <hr>
                    <a href="{% url 'avengers:comment_delete' reply.pk %}" class="btn btn-danger">コメントを消去する</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}