{% extends 'base.html' %}
{% load static %}

{% block title %}通報されたコメント一覧 | Avengers{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h1>通報されたコメント</h1>
                <hr>
                {% if user.is_superuser %}
                <a href="{% url 'avengers:all_comment2' %}" class="btn btn-secondary">コメント全件表示</a>
                <hr>
                {% for items in report_list5 %}
                    <div class="post-preview">
                        <a class="btn btn-danger float-right" href="{% url 'avengers:report_delete5' items.pk %}">通報を削除</a>
                        <p>コメント投稿者:{{ items.user }}　　　　コメント投稿者のID:{{ items.user_id }}</p>
                        <p>コメントid:{{ items.number }}</p>
                        <p>
                            コメント内容:{{ items.content }}
                            {% if not items.content %}
                               コメントなし
                            {% endif %}
                        </p>
                        <p>コメント日時:{{ items.created_at }}</p>
                    </div>
                    <hr>
                {% empty %}
                    <p>通報された投稿がありません。</p>
                {% endfor %}
                {% elif user.is_staff %}
                <a href="{% url 'avengers:all_comment2' %}" class="btn btn-secondary">コメント全件表示</a>
                <hr>
                {% for items in report_list5 %}
                    <div class="post-preview">
                        <a class="btn btn-danger float-right" href="{% url 'avengers:report_delete5' items.pk %}">通報を削除</a>
                        <p>コメント投稿者:{{ items.user }}　　　　コメント投稿者のID:{{ items.user_id }}</p>
                        <p>コメントid:{{ items.number }}</p>
                        <p>
                            コメント内容:{{ items.content }}
                            {% if not items.content %}
                               コメントなし
                            {% endif %}
                        </p>
                        <p>コメント日時:{{ items.created_at }}</p>
                    </div>
                    <hr>
                {% empty %}
                    <p>通報された投稿がありません。</p>
                {% endfor %}
                {% else %}
                <h4>申し訳ありません、このページは管理者専用です。</h4>
                {% endif %}
                <a href="{% url 'avengers:profile' %}" class="btn btn-success float-right" style="padding-top:0.5rem;padding-bottom:0.5rem;border-radius:0.5rem;">戻る</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}