{% extends 'base.html' %}
{% load static %}

{% block title %}法テラスに相談 | Avengers{% endblock %}

{% block search_lawyer %}active{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <h2 class="fs-1">お近くの法テラスを探す</h2>
            <hr>
            <p>以下のプルダウンメニューよりお住いの都道府県を選択していただきますとその都道府県の法テラスのページへと遷移します。パワハラや職場いじめ等の被害を受け、かつその証拠を手に入れることができているのでしたら一度弁護士に相談することを推奨します。</p>
            <hr>
            <form style="margin-left:2vw;">
                <select onChange="location.href=value;">
                    <option value="#">お住いの都道府県を選択</option>
                    <option value="https://www.houterasu.or.jp/k/address_list/address_list_hok/index.html">北海道</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/aomori/index.html">青森県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/iwate/index.html">岩手県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/miyagi/index.html">宮城県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/akita/index.html">秋田県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/yamagata/index.html">山形県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/fukushima/index.html">福島県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/ibaraki/index.html">茨城県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/tochigi/index.html">栃木県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/gunma/index.html">群馬県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/saitama/index.html">埼玉県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/chiba/index.html">千葉県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/tokyo/index.html">東京都</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/kanagawa/index.html">神奈川県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/niigata/index.html">新潟県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/toyama/index.html">富山県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/ishikawa/index.html">石川県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/fukui/index.html">福井県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/yamanashi/index.html">山梨県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/nagano/index.html">長野県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/gifu/index.html">岐阜県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/shizuoka/index.html">静岡県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/aichi/index.html">愛知県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/mie/index.html">三重県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/shiga/index.html">滋賀県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/kyoto/index.html">京都府</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/osaka/index.html">大阪府</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/hyogo/index.html">兵庫県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/nara/index.html">奈良県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/wakayama/index.html">和歌山県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/tottori/index.html">鳥取県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/shimane/index.html">島根県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/okayama/index.html">岡山県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/hiroshima/index.html">広島県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/yamaguchi/index.html">山口県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/tokushima/index.html">徳島県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/kagawa/index.html">香川県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/ehime/index.html">愛媛県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/kochi/index.html">高知県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/fukuoka/index.html">福岡県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/saga/index.html">佐賀県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/nagasaki/index.html">長崎県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/kumamoto/index.html">熊本県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/oita/index.html">大分県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/miyazaki/index.html">宮崎県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/kagoshima/index.html">鹿児島県</option>
                    <option value="https://www.houterasu.or.jp/chihoujimusho/okinawa/index.html">沖縄県</option>
                </select>
            </form>
        </div>
    </div>
</div>
{% endblock %}