{% extends 'base.html' %}
{% load static %}

{% block title %}新規タグ作成 | Vengeancers{% endblock %}

{% block active_message_list %}active{% endblock %}

{% block header %}
<header class="forest">
    <div class="container">
        <div class="my-div-style">
            <h1 class="display-2 text-white border-black float-left">Create Tags</h1>
        </div>
    </div>
</header>
{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="mt-3 w-100">
            <h1>新規タグ作成</h1>
            <hr>
            <form method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                <table class="table">
                    {{ form.as_p }}
                </table>
                <div style="text-align:center;">
                    <button class="btn btn-primary" type="submit">作成</button>
                    <a href="javascript:void(0);" onclick="window.history.back();" class="btn btn-success" style="padding-top:0.5rem;padding-bottom:0.5rem;border-radius:0.5rem;">戻る</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}